* {
  margin: 0;
  padding: 0;
}

html {
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  background-size: cover;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f400;
  // min-height: 100%;
}

.cont_box {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  // 全局通用样式
  .p_0 {
    padding: 0 !important;
  }

  .p_5 {
    padding: 48px !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .box_bg {
    background-color: #0894b9c7;
  }

  .box_min_h_4 {
    min-height: 400px;
  }

  .box_min_h_2 {
    min-height: 200px;
  }

  .box_max_w {
    max-width: 400px;
  }

  .box_style {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_text {
    align-items: flex-start;
  }

  .per_bot {
    margin-bottom: 30px;
  }

  .Pers_one {
    display: none;
  }

  .Pers_two {
    display: none;
  }

  .Pers_three {
    display: none;
  }

  .Mast_fade {
    display: none;
  }

  .Proj_fade {
    display: none;
  }

  .box_p {
    text-align: center;
  }

  // 个人信息
  .Personal_profile {
    min-height: 400px;
    width: auto;
    background-color: #ffffffba;
    // display: none;

    .box_style {
      flex-direction: column;
    }

    .per_title {
      font-size: 50px;
      color: white;
      text-align: center;
    }

    .par_dark {
      font-size: 50px;
      color: #666666;
      text-align: center;
    }

    .box_portrait {
      flex-direction: column;
      color: white;
    }

    .img-circle {
      margin-bottom: 35px;
    }

    .par_img {
      height: 100%;
      width: 100%;
      background: url(../img/IMG_20181129_074709.jpg) no-repeat center;
      background-size: 916px;
    }
  }

  // 掌握技能
  .Mastered_skills {
    height: 330px;
    width: auto;
    background-color: #0894b9c7;
    margin-bottom: 25px;
    flex-wrap: nowrap;
    flex-direction: column;

    .mast_title_box {
      max-height: 100px;
      margin-bottom: 10px;

      .mast_title {
        color: white;
      }
    }

    .mast_swiper_box {
      height: 230px;

      .swiper_cont_box {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        .swiper-slide {
          width: auto;
          /*根据内容调整宽度*/
        }

        .swiper_icon {
          height: 150px;
          width: 150px;
          border: none;
          border-radius: 100px;
          background-color: #ffffff;
          transition: all 0.8s;
          margin-top: 10px;

          .icon_HTML {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/html.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_CSS3 {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/css3.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_JS {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/java-script.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_JQ {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/jquery.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_WX {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/wx_xcx.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_SQL {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/mysql.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_PHP {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/php.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_boot {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/bootstrap.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_Ax {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/AxureRP.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_Ps {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/ps-f.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }

          .icon_Less {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../img/icon/less.png) no-repeat center 37px;
            background-size: 80px;
            border-radius: 100px;
          }
        }
      }

      .swiper_icon:hover {
        transform: translate(-5px, -5px);
        box-shadow: #00000061 10px 10px 8px;
      }
    }
  }

  // 项目展示
  .Project_presentation {
    height: auto;
    width: auto;
    background-color: #0894b9c7;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 10px 15px;
    color: #ffffff;

    .box_style {
      flex-direction: column;
    }

    .Proj_img:hover {
      // transform: scale(2);
      transform: translate(-2px, -5px);
      box-shadow: #00000061 10px 10px 8px;
    }

    .Wx_img:hover {
      transform: translate(-2px, -5px);
      box-shadow: #00000061 10px 10px 8px;
    }

    .Mob_img:hover {
      transform: translate(-2px, -5px);
      box-shadow: #00000061 10px 10px 8px;
    }

    .PC_box {
      height: auto;
      padding-left: 40px;

      .Proj_box {
        height: 315px;
        width: auto;
        padding: 30px;
        color: #ffffff;
        border-radius: 10px;

        .Proj_img {
          height: 100%;
          width: auto;
          margin-bottom: 10px;
          border-radius: 10px;
          transition: all 0.8s;
        }
      }
    }

    .Wx_box {
      height: auto;

      .Wx_app_box {
        height: 524px;
        width: auto;
        margin-top: 15px;

        .Wx_img {
          height: 100%;
          width: auto;
          transition: all 0.8s;
        }
      }
    }

    .Mob_box {
      height: auto;
      display: flex;
      justify-content: space-around;

      .Mob_img_box {
        height: 460px;
        width: auto;
        margin-top: 25px;

        .Mob_img {
          height: 100%;
          width: auto;
          transition: all 0.8s;
        }
      }
    }

    .mast_tab {
      a {
        color: #000000;
      }
    }
  }
}

// 页脚
.foot_fade {
  display: none;

  footer {
    height: 155px;
    width: 100%;
    background: #66666678;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// 媒体查询
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    min-width: 540px;
  }
}

@media (max-width: 1200px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .cont_box .Project_presentation .PC_box {
    padding-left: 0px;
  }

  .cont_box .Project_presentation .Wx_box {
    padding-left: 40px;
  }

  .cont_box .Project_presentation .Wx_ful {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Pers_two {
    flex-direction: column-reverse;
  }

  .cont_box .Project_presentation .PC_box {
    padding-left: 85px;
  }

  .cont_box .Project_presentation .Wx_ful {
    display: block;
  }

  .cont_box .Project_presentation .Wx_box {
    padding-left: 70px;
  }

  .cont_box .Project_presentation .Mob_box {
    flex-direction: column;
  }
}

@media (max-width: 770px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Pers_cent {
    flex-direction: column-reverse;
  }

  .cont_box .Project_presentation .PC_box {
    padding-left: 0px;
  }

  .cont_box .Project_presentation .Wx_box {
    padding-left: 0px;
  }
}

@media (max-width: 576px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont_box .Project_presentation .Wx_box {
    padding-left: 0px;
  }
}