* {
  margin: 0;
  padding: 0;
}
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  background-size: cover;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f400;
}
.cont_box {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.cont_box .p_0 {
  padding: 0 !important;
}
.cont_box .p_5 {
  padding: 48px !important;
}
.cont_box .row {
  display: flex;
  flex-wrap: wrap;
}
.cont_box .box_bg {
  background-color: #0894b9c7;
}
.cont_box .box_min_h_4 {
  min-height: 400px;
}
.cont_box .box_min_h_2 {
  min-height: 200px;
}
.cont_box .box_max_w {
  max-width: 400px;
}
.cont_box .box_style {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_box .box_text {
  align-items: flex-start;
}
.cont_box .per_bot {
  margin-bottom: 30px;
}
.cont_box .Pers_one {
  display: none;
}
.cont_box .Pers_two {
  display: none;
}
.cont_box .Pers_three {
  display: none;
}
.cont_box .Mast_fade {
  display: none;
}
.cont_box .Proj_fade {
  display: none;
}
.cont_box .box_p {
  text-align: center;
}
.cont_box .Personal_profile {
  min-height: 400px;
  width: auto;
  background-color: #ffffffba;
}
.cont_box .Personal_profile .box_style {
  flex-direction: column;
}
.cont_box .Personal_profile .per_title {
  font-size: 50px;
  color: white;
  text-align: center;
}
.cont_box .Personal_profile .par_dark {
  font-size: 50px;
  color: #666666;
  text-align: center;
}
.cont_box .Personal_profile .box_portrait {
  flex-direction: column;
  color: white;
}
.cont_box .Personal_profile .img-circle {
  margin-bottom: 35px;
}
.cont_box .Personal_profile .par_img {
  height: 100%;
  width: 100%;
  background: url(../img/IMG_20181129_074709.jpg) no-repeat center;
  background-size: 916px;
}
.cont_box .Mastered_skills {
  height: 330px;
  width: auto;
  background-color: #0894b9c7;
  margin-bottom: 25px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.cont_box .Mastered_skills .mast_title_box {
  max-height: 100px;
  margin-bottom: 10px;
}
.cont_box .Mastered_skills .mast_title_box .mast_title {
  color: white;
}
.cont_box .Mastered_skills .mast_swiper_box {
  height: 230px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper-slide {
  width: auto;
  /*根据内容调整宽度*/
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon {
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  transition: all 0.8s;
  margin-top: 10px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_HTML {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/html.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_CSS3 {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/css3.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_JS {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/java-script.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_JQ {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/jquery.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_WX {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/wx_xcx.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_SQL {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/mysql.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_PHP {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/php.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_boot {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/bootstrap.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_Ax {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/AxureRP.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_Ps {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/ps-f.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_cont_box .swiper_icon .icon_Less {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/icon/less.png) no-repeat center 37px;
  background-size: 80px;
  border-radius: 100px;
}
.cont_box .Mastered_skills .mast_swiper_box .swiper_icon:hover {
  transform: translate(-5px, -5px);
  box-shadow: #00000061 10px 10px 8px;
}
.cont_box .Project_presentation {
  height: auto;
  width: auto;
  background-color: #0894b9c7;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 10px 15px;
  color: #ffffff;
}
.cont_box .Project_presentation .box_style {
  flex-direction: column;
}
.cont_box .Project_presentation .Proj_img:hover {
  transform: translate(-2px, -5px);
  box-shadow: #00000061 10px 10px 8px;
}
.cont_box .Project_presentation .Wx_img:hover {
  transform: translate(-2px, -5px);
  box-shadow: #00000061 10px 10px 8px;
}
.cont_box .Project_presentation .Mob_img:hover {
  transform: translate(-2px, -5px);
  box-shadow: #00000061 10px 10px 8px;
}
.cont_box .Project_presentation .PC_box {
  height: auto;
  padding-left: 40px;
}
.cont_box .Project_presentation .PC_box .Proj_box {
  height: 315px;
  width: auto;
  padding: 30px;
  color: #ffffff;
  border-radius: 10px;
}
.cont_box .Project_presentation .PC_box .Proj_box .Proj_img {
  height: 100%;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.8s;
}
.cont_box .Project_presentation .Wx_box {
  height: auto;
}
.cont_box .Project_presentation .Wx_box .Wx_app_box {
  height: 524px;
  width: auto;
  margin-top: 15px;
}
.cont_box .Project_presentation .Wx_box .Wx_app_box .Wx_img {
  height: 100%;
  width: auto;
  transition: all 0.8s;
}
.cont_box .Project_presentation .Mob_box {
  height: auto;
  display: flex;
  justify-content: space-around;
}
.cont_box .Project_presentation .Mob_box .Mob_img_box {
  height: 460px;
  width: auto;
  margin-top: 25px;
}
.cont_box .Project_presentation .Mob_box .Mob_img_box .Mob_img {
  height: 100%;
  width: auto;
  transition: all 0.8s;
}
.cont_box .Project_presentation .mast_tab a {
  color: #000000;
}
.foot_fade {
  display: none;
}
.foot_fade footer {
  height: 155px;
  width: 100%;
  background: #66666678;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    min-width: 540px;
  }
}
@media (max-width: 1200px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cont_box .Project_presentation .PC_box {
    padding-left: 0px;
  }
  .cont_box .Project_presentation .Wx_box {
    padding-left: 40px;
  }
  .cont_box .Project_presentation .Wx_ful {
    display: none;
  }
}
@media (max-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Pers_two {
    flex-direction: column-reverse;
  }
  .cont_box .Project_presentation .PC_box {
    padding-left: 85px;
  }
  .cont_box .Project_presentation .Wx_ful {
    display: block;
  }
  .cont_box .Project_presentation .Wx_box {
    padding-left: 70px;
  }
  .cont_box .Project_presentation .Mob_box {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Pers_cent {
    flex-direction: column-reverse;
  }
  .cont_box .Project_presentation .PC_box {
    padding-left: 0px;
  }
  .cont_box .Project_presentation .Wx_box {
    padding-left: 0px;
  }
}
@media (max-width: 576px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cont_box .Project_presentation .Wx_box {
    padding-left: 0px;
  }
}
