* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}
.cont_box {
  margin-top: 20px;
  min-width: 1200px;
}
.cont_box .p_0 {
  padding: 0 !important;
}
.cont_box .p_5 {
  padding: 48px !important;
}
.cont_box .row {
  display: flex;
  flex-wrap: wrap;
}
.cont_box .box_bg {
  background-color: #3696a2;
}
.cont_box .box_min_h {
  min-height: 400px;
}
.cont_box .box_style {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_box .Personal_profile {
  min-height: 400px;
  width: auto;
  background-color: white;
}
.cont_box .Personal_profile .box_style {
  flex-direction: column;
}
.cont_box .Personal_profile .per_name {
  font-size: 50px;
  color: white;
}
.cont_box .Mastered_skills {
  height: 350px;
  width: auto;
  background-color: #3696a2;
  margin-bottom: 25px;
}
.cont_box .Project_presentation {
  height: 500px;
  width: auto;
  background-color: #3696a2;
}
